body{
	background:url("moneypattern.png");

}
#main-content{
	margin-left:25%;
	margin-top:10%;
	background-color:lightgrey;
	padding-left:4px;
	width:650px;
	border:1px solid black;
}
#images {

	width:625px;
	padding-left:6px;
	padding-top:3px;
}
img{
	height:100px;
	
	width:200px;
	border:2px solid black;


}
#play{
	margin-left:-660px;
	height:100px;

	


}